body {
  font-family: Sans-Serif;
}
body h1, p {
  text-align: center;
}
div.background {
  background: rgb(0, 128, 128);
}
div.mainbox {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ffffff;
  border: 1px solid black;
}

div.mainbox p, div.mainbox h1 {
  margin: 5%;
}
