body {
  font-family: Sans-Serif;
}
body h1, p {
  text-align: center;
}
div.background {
  background: rgb(0, 128, 128);
  border: 0px;
}
div.mainbox {
  margin: 10%;
  background-color: #ffffff;
  border: 1px solid black;
  z-index: 10;
}

div.mainbox p, div.mainbox h1 {
  margin: 5%;
}
