<!DOCTYPE html>
<html>
    <head>
        <title>WCNG</title>
    </head>
    <body>
        <div class="background">
            <div class="main">
                <div>
                    <h1 id="name"></h1>
                </div>
                <p>
                    <button id="change-prefix">Change Prefix</button>
                    <button id="change-all">Change</button>
                    <button id="change-suffix">Change Suffix</button>
                </p>
                <p>
                    <button id="set-kit">Kit</button>
                    <button id="set-apprentice">Apprentice</button>
                    <button id="set-warrior">Warrior</button>
                    <button id="set-leader">Clan Leader</button>
                </p>
            </div>
        </div>
    </body>
</html>