div.navbar {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    background-color: #444;

    a {
        float: left;
        display: block;
        color: #eee;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }
}